@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-fv {
   width: 100%;
   height: auto;
   background: #505050;
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 8rem;
   @include sp {
      padding-top: 5rem;
   }
    .c-fv__contents {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; 
      padding-top: vw(80, 1080);
      // padding-left: vw(0, 1080); 
      background: #00000026; 
      position: absolute;
      top: 0;
      left: 0;
        @include sp {
         padding-top: 0;
         padding-left: 0;
        }
      h3 {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%); 
        font-size: vw(25, 1080);
        line-height: calc(60 / 25);
        font-weight: 700;
        letter-spacing: 0;
        color: $color-main;
        align-items: center;
        z-index: 3;
        @include sp {
            position: absolute;
            top: 58%;
            left: 50%;
            font-size: vw(25, 375);
        }
      }
    }
    &::before {
        content: ''; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(80, 80, 80, 0.502);
        z-index: 1; // 画像の上に表示
    }
}
