@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-button {
    // @include sp {
    //     display: none;
    // }
    &-head {
        width: 15rem;
        height: 4.5rem;
        background: $color-red;
        text-decoration: none;
        color: $color-main;
        display: grid;
        place-content: center;
        box-sizing: border-box;
        @include sp {
            display:none;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    &_admission-fee,
    &_monthly-fee {
        width: 21rem;
        height: 6rem;
        font-size: 2rem;
        background: $color-red;
        text-decoration: none;
        color: $color-main;
        display: grid;
        place-content: center;
        box-sizing: border-box;
        @include sp {
            margin: 0 auto;
        }
    }
    &_admission-fee {
        font-size: 2rem;
        position: relative;
        bottom: 0;
        right: 0;
    }
    &_admission-fee::after {
        content: "+";  /* `+` を表示 */
        position: absolute;
        right: -5rem;  /* 適切な位置に調整 */
        top: 45%;
        transform: translateY(-50%);
        font-size: 3rem;
        font-weight: bold;
        color: #000000;
        @include sp {
            position: absolute;
            right: 9.4rem;  /* 適切な位置に調整 */
            top: 140%;
        }
    }
    &_aside {
        width: 25rem;
        height: 5rem;
        background: #000000;
        color: $color-main; 
        font-size: 1.8rem;
        font-weight: 700;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-decoration: none; 
        @include sp {
            width:100%;
        }
    }
    &_contact {
        width: 25rem;
        height: 5rem;
        background: $color-red;
        color: $color-main; 
        font-size: 2.5rem;
        font-weight: 700;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 4.5rem;
        margin-bottom: 10rem;
        @include sp {
            width:100%;
            margin-top: 5rem;
            margin-bottom: 11rem;
            font-size: 2rem;
        }
    }
    
    &_send {
        width: 25rem;
        height: 5rem;
        background: $color-red;
        color: $color-main; 
        font-size: 2.5rem;
        font-weight: 700;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-decoration: none;
        @include sp {
            font-size: 2rem;
            width: 34rem;
        } 
    }
    &_button {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 9rem;
        @include sp {
            margin-bottom: 0rem;
        }
    }
    &_button_send {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 9rem;
        @include sp {
            margin-top: 0rem;
            margin-bottom: 5rem;
        }
    }
    &_blog-detail {
        display:flex;
        width: 100%;
        height: auto;
        color: $color-main;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        justify-content: space-between;
        margin: 0;
        padding:0;
        gap: 5.9rem;
        align-items: flex-end;
        @include sp {
            column-gap: 2.2rem;
        }
        
        &_before {
            width: 100%;
            height: 3.7rem;
            padding: 0.6rem 13rem 0.1rem 2rem;
            text-align: left;
            background: #000000;
            margin-bottom: 1.6rem;
            p {
                font-size: 1.7rem;
                color: $color-main;
            }
            @include sp {
                padding: 0.6rem 4.6rem 0.1rem 2rem;
            }
        }

        &_after {
            width: 100%;
            height: 3.7rem;
            padding: 0.6rem 2rem 0.1rem 13rem;
            text-align: right;
            background: #000000;
            margin-bottom: 1.6rem;
            p {
                font-size: 1.7rem;
                color: $color-main;
            }
            @include sp {
                padding: 0.6rem 1.8rem 0.1rem 4.6rem;
            }
        }
        
        &_all {
            width: 100%;
            height: 5rem;
            padding: 1.1rem 49.8rem 0.6rem 3rem;
            background: #000000;
            margin-bottom: 3rem;
            p{
                display: flex;
                font-size: 1.8rem;
                font-weight: 700;
                color: $color-main;
                text-align: left;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }
            @include sp {
                padding: 1.1rem 2.98rem 0.6rem 3rem;
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }
        }
    }
} 
.button {
    display:flex;
    justify-content: center;
    // position: absolute;
    // bottom: 0;
    position:relative;
    top: 0;
    right: 0;
    &:hover {
        opacity: 0.5;
    }
}

//TOP戻るボタン
.top-back-btn__icon {
    width: 6.8rem;
    height: 6.8rem;
    background: #505050 50.2%; 
    border-radius: 50%;
    position: absolute;
    bottom: 9rem;
    right: 10rem;
    z-index: 88;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
        bottom: 7.8rem;
        right: 2rem; /* 画面内に表示する */
    }
    &.result {
        position: absolute;
        bottom: 9rem;
        right: 12rem;
        @include sp {
            position: absolute;
            bottom: 7.4rem;
            right: 2rem;
        }
    }
              
    .arrow {
        position: relative;
        display: inline-block;
        width: 2.32rem;
        height: 1.54rem;
        transform: rotate(180deg);
        &::before,
        &::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 2.3rem;
        background-color: #ffffff;
        top: -50%;
        left: 50%;
        transform-origin: bottom;
        border-radius: 0.25rem;
        
        }
        &::before {
            transform: translateX(-0.2rem) rotate(-35deg);
        }
        &::after {
            transform: translateX(-0.3rem) rotate(35deg);
        }
    }
}

.c-button.top-back-btn {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.c-button.top-back-btn:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.c-button.top-back-btn.moving {
    opacity: 0.3;
}
.contact-form-btn {
    position: absolute;
    bottom: 3rem;
    right: 10rem;
    @include sp {
    bottom: 2.3rem;
    left: 27.8rem; /* 画面内に表示する */
    right:auto;
}
}
    