@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


.contact {
    .inner {
      max-width: 92rem;
      // padding:0 2rem;
      margin: 0 auto;
      // padding: 0 2rem;
    }
    
    .contact_form__text {
        width: 100%;
        height: auto;
        background: $color-main;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 6.6rem;
        margin-bottom: 6.5rem;
        @include sp {
          margin-top: 4.6rem;
          margin-bottom: 3.5rem;
        }
        p {
            font-size: 1.8rem;
            line-height: calc(30 / 18);
            color: #000000;
            text-align: center;
            display:grid;
            place-content: center;
            @include sp {
              font-size: 1.6rem;
              line-height: calc(30 / 16);
              text-align: left;
            }
        }
    }
    .form-flex {
      width: 100%;
      display:flex;
      align-items: center;
      margin-bottom: 2.9rem;
      @include sp {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-bottom: 0rem;
        
      }
      
      &-checkbox {
        width: 100%;
        display:flex;
        // align-items: left;
        margin-bottom: 1.8rem;
        @include sp {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0rem;
        }
      }
      dt,
      dd {
        width: 100%;
        margin: 0;
      }
      dd {
        display: flex;
        // margin: 0 auto;
        font-size: 1.5rem;
        @include sp {
          margin: 0;
        }
        
      }
      dl {
        @include sp {
          margin-top:0;
        }
      }
      dl label {
        display: block;
        margin-top: 0.5rem;
        @include sp {
          text-align:left;
          margin-top: 0rem;
        }
      }
      
    }
    .form-flex.is-last-form-flex {
      margin-bottom: 2.6rem;
      @include sp {
        margin-bottom: 0.4rem;
      }
    }
    
    dl dt {
      width: 14rem;
      float: left;
      clear: both;
      font-size: 2rem;
      font-weight: 500;
      line-height: calc(33 / 20);
      @include sp {
        width:100%;
        font-size: 1.6rem;
        // line-height: calc(33 / 16);
      }
      dt.purpose {
        margin-top:0.4rem;
      }
      // dt.purpose .space {
      //   display: inline-block;
      //   width: 0.8rem; // ← 好きな幅に調整
      //   height: 1px;
      // }
      label {
        font-size: 2.0rem;
        line-height: calc(33 / 20);
        font-weight: 500;
        display:block;
        margin-top: 0.5rem;
        @include sp {
          font-size: 1.6rem;
          line-height: calc(33 / 16);
          margin-top: 0rem;
        }
        dl {
          @include sp {
            margin-top: 0rem;
          }
        }
      }
      
    }
    &__form-block{
      .content-dl {
        @include sp {
          margin-top:0;
        }
      }
    } 
    
    dt,dd {
      @include sp {
        width:100%;
        margin:0;
      }
    }
    .form-control {//大事
      width: 71.1rem;
      height: 4rem;
      flex: 1;
      border: 0.5px solid #000000;
      padding: 1.8rem 2rem 1.3rem 1.9rem;
      
      @include sp {
        width: 100%;
        margin-left:0;
        margin-bottom: 1.5rem;
        padding: 0 1.5rem;
        line-height: 4rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
      }
    }
    .form-control__content {//大事
      width: 71.1rem;
      height: 30rem;
      flex: 1;
      border: 0.5px solid #000000;
      padding: 1.4rem 2rem;
      margin-left: 2.9rem;
      font-size: 1.5rem;
      @include sp {
        width: 100%;
        margin-left: 0;
        height: 19rem;
        padding: 1.3rem 2rem;
        font-size: 1.5rem;
        line-height: calc(25 / 15);
      }
    }
    
    .checkbox01 {
      position: relative;
      padding-left: 4rem; // チェックボックスの幅分
      cursor: pointer;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      margin-left: 2.9rem;
      margin-bottom: 1.2rem;
      @include sp {
        padding-left: 2.8rem;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
      }
      input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        @include sp {
          margin-left: 0rem;
          padding-left: 0;
          align-items: center;
        }
      }
    
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: #fff;
        border: 0.5px solid #000000;
      }
      span {
        @include sp {
            font-size: 1.6rem;
        }
      }
      span::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: 6px;
        height: 12px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    
      input[type="checkbox"]:checked + span::after {
        opacity: 1;
      }
    }
  
    .checkbox01 input[type="checkbox"]:checked + span::after {
      opacity: 1;
    }
    // .checkbox__item.is-last {
    //   @include sp {
    //     margin-bottom: 1.3rem; // SP用調整
    //   }
    // }
    
}
