@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;


//new
.top-sec01 {
    width: 100%;
    height: auto;
    background: $color-main;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 65px 111.34px 31px 110.4px;
    @include sp {
        padding: 4.8rem 0rem 1.5rem;
    }
    &__wrap {
        display:flex;
        justify-content: center;
        
        .top-sec01__image {
            width: 79.45%;
            height: auto;
            margin-top: 3.4rem auto 0;
            justify-content: center;
            text-align: center;
            display: grid;
            place-content: center;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
            @include sp {
                width: 33.5rem;
                height: 3.7rem;
                display: grid;
                place-content: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    
    }
    &__items-wrap {
        position: relative;
    }
    &__items {
        width: 100%;
        height: 100%;
        display: block;
        justify-content: center;
        margin-bottom: 2.7rem;
        position: relative; // arrowを中で中央に配置できるように
        display: flex;
        flex-direction: column;
        align-items: center; // ← これで中央に揃える！
        text-align: center;
        &__item {
            display: flex;
            width: 100%;
            margin-top: 2.8rem;
            align-items:flex-start;
            justify-content: center;
            @include sp {
                margin-top: 4rem;
                text-align: center;
                align-items: center;
            }
            &:nth-child(1) {
                margin-top: 2.9rem;
                @include sp {
                    margin-top: 3.8rem;
                }
            }
            &:nth-child(2) {
                margin-top: 3rem;
                @include sp {
                    margin-top: 3.8rem;
                }
            }
            &:nth-child(3) {
                margin-top: 3rem;
                @include sp {
                    margin-top: 3.8rem;
                }
            }
            .left-part {
                width: 33%;
                display: flex;
                @include sp {
                    width: 45%;
                }
                h3 {
                    width:100%;
                    display: flex;
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: $color-red;
                    justify-content: flex-end;
                    padding-right: 2.91rem;
                    // letter-spacing: 0.094rem;
                    align-items: center;
                    @include sp {
                      font-size: 2rem;
                    }
                }
            }    
            span {
                width: 2rem;
                height: 2rem;
                background: $color-red;
                border-radius: 50%;
                align-items: center;
                text-align: center;
                margin-top: 0.7rem;
                position: relative;
                top: 0;
                left: 0;
                @include sp {
                    width: 2rem;
                    margin-top: 0rem;
                }
            }
            .right-part {
                width:33%;
                display: flex;
                align-items: flex-start;
                @include sp {
                    width:45%;
                }
                h4 {
                    width:100%;
                    display: flex;
                    font-size: 2.3rem;
                    // line-height: calc(50 / 23);
                    color: $color-red;
                    color: #000000;
                    padding-left: 3rem;
                    @include sp {
                        font-size: 2rem;
                        top: 0rem;
                    }
                }
            }  
        }
        
    }
   
    .arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%; // 本当の中央
        transform: translateX(-50%);
        width: 3px;
        background-color: $color-red;
        z-index: 0;
        // 長さ調整（必要に応じて）
        height: 90%; // アイテム全体に合わせて伸びる
      
        &::before {
          content: "";
          position: absolute;
          top: -1%;
          left: 50%;
          width: 3px;
          height: 22.2px;
          border-radius: 9999px;
          background-color: $color-red;
          transform-origin: 50% 1.5px;
        }
        &::after {
            content: "";
            position: absolute;
            top: -2%;
            left: 50%;
            width: 3px;
            height: 22.2px;
            border-radius: 9999px;
            background-color: $color-red;
            transform-origin: 50% 1.5px;
        }
      
        &::before {
          transform: rotate(48.15deg) translateX(-50%);
        }
      
        &::after {
          transform: rotate(-48.15deg) translateX(-50%);
        }
    }
}
.top-sec01__items__item:nth-child(1) {
    .right-part {
      padding-top: 0.3rem;
    }
}
  

.top-sec02 {
    width: 100%;
    height: auto;
    background: $color-red;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-top: 3.4rem;
    padding-bottom: 3rem;
    @include sp {
        padding-top: 2.4rem !important;
        padding-bottom: 2rem;
    }
    .inner {
        padding:0 5rem;

    }
    &__text {
        h3 {
            font-size: 3rem;
            line-height: calc(50 / 30);
            font-weight: 700;
            display: grid;
            place-content: center;
            align-items: center;
            margin-bottom: 3rem;
            @include sp {
                font-size: 2.5rem;
                line-height: calc(40 / 25);
                margin-bottom: 1rem;
            }
        }
        P {
            font-size: 1.8rem;
            line-height: calc(30 / 18);
            font-weight: 500;
            display: grid;
            place-content: center;
            align-items: center;
            @include sp {
                font-size: 1.8rem;
                line-height: calc(30 / 18);
            }
        }
    }
}

.top-sec03 {
    width: 100%;
    height: auto;
    background: $color-main;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 6.1rem;
    margin-bottom: 2.4rem;
    
    @include sp {
        margin: 0 0;
        display:flex;
        text-align: center;
        justify-content: center;
        margin: 0 0;
        padding: 4.9rem 0 0;
    }

    .top-sec03-item {
        width:100%;
        display:flex;
        @include sp {
            flex-direction: column;
            column-gap: 0rem;
            margin:0 auto;
        }
        &__image {
            width: 35rem;
            max-width: 35rem;
            margin-bottom: 5rem;
            aspect-ratio: 350/247;
            @include sp {
                width: 33.5rem;
                height:auto;
                aspect-ratio: 335/200 !important;
                margin: 0 auto;
                margin-bottom: 3rem;
                // &:nth-child(2) {
                //     margin-bottom: 3rem;
                // }
                
            }
            img {
                width: 100%;
                height: 100%;
               
                @include sp {
                    width: 100%;
                    height:auto;
                    display:block;
                    object-fit: cover;
                }
            }
        }
        &__text1,
        &__text2,
        &__text3 {
            max-width: 53.2rem;
            flex:1;
            display: flex;
            flex-direction: column;
            text-align: left;
            position:relative;
            display:flex;
            justify-content: flex-start;
            @include sp {
                margin-right: 0rem;
                // padding: 0 2rem;
            }
            
            h3 {
                font-size: 2.2rem;
                line-height: calc(33/22);
                font-weight: 700;
                justify-content: flex-start;
                padding-left: 5rem;
                padding-bottom: 1rem;
                border-bottom: 2px solid $color-red;
                align-items: flex-start;
                
                @include sp {
                    font-size: 2rem;
                    line-height: calc(30 / 20);
                    margin-bottom: 1.9rem;
                    padding-left: 0rem;
                    padding-bottom: 0.7rem;
                }
            }
        }
        &__text1 {
            margin-top: 1rem;
            @include sp {
                margin-top: 0rem;
            }
            p {
                font-size: 1.8rem;
                margin-top: 3.8rem;
                justify-content: flex-start;
                padding-left:5rem;
                line-height: calc(33 / 18);
                @include sp {
                 font-size: 1.6rem;
                 line-height: calc(30 /16);
                 margin-top: 0rem;
                 margin-bottom: 3.9rem;
                 padding-left: 0rem;
                }
            }
        }
       
        &__text2,
        &__text3 {
            margin-top: 0rem;
            @include sp {
                margin-top: -0.3rem;
            }
            p {
                font-size: 1.8rem;
                line-height: calc(33 / 18);
                margin-top: 3.5rem;
                justify-content: flex-start;
                padding-left:5rem;
                @include sp {
                 font-size: 1.6rem;
                 line-height: calc(30 /16);
                 margin-top: 0rem;
                 margin-bottom: 3.9rem;
                 padding-left: 0rem;
                }
            }
        }
        
    }
}

.top-sec04 {
    width: 100%;
    height: auto;
    background: $color-red;
    color: #fff;
    padding-top: 6.4rem;
    padding-bottom: 5.7rem;
    @include sp {
        padding-top: 4.6rem;
        padding-bottom: 5.4rem;

    }
    .inner {
        margin-top: 0;
    }

   /*スライダー*/
    .top-sec04-wrap {
      width:100%;
    //   overflow: visible;
    }
    .test-slick {
      width: 100%;
      max-width: 88rem;
      margin: 0 auto;
      display:flex;
      gap:calc(880px - 270px*3/2);
      @include sp {
        width: 100% !important;
        gap:0;
      }
    }
    .test-slick__item {
        width: 30.7%;
        margin: 0 1.75rem;
        background-color: $color-red;
        flex-shrink: 0; 
        @include sp {
          display: flex;
          flex-direction: column;
          margin-right: 0;
          margin-left: 0;//←ここを調整して真ん中表示させた
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0;
          width:100%;
        }
        & > a {
            width:27rem;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: auto; // 高さを中身に合わせる
            text-decoration: none; // 装飾を消したければ
            @include sp {
                width: 100%;
                max-width: 33.5rem;
                aspect-ratio: 33.5, 200;
                object-fit: cover; 
                align-items: center;
            }
        }
        &:first-child {
            margin-left:0;
        }
        &:last-child {
            margin-right:0;
        }
        .test-slick__item__txt-title {
          width: 100%;
          font-size: 2.2rem;
          font-weight: 700;
          margin-top: 1.6rem;
        //   margin-left: 1.2rem;
          @include sp {
            margin-top: 2.7rem;
            margin-left: 0.2rem;
          }
        }
        .test-slick__item__txt {
          display: block;
          width: 100%;
          font-size: 1.8rem;
          line-height: calc(30 / 18);
          margin-top: 1rem;
          text-align: left;
          letter-spacing: -0.2px;
          padding: 0 0;
          @include sp {
            white-space: normal;
            align-items: flex-start;
            // padding:0 2rem;
          }
        }
        // & a {
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        // }
          
    }
   
    .slick-track {
      display: flex;
      
    }
    .slick-slide {
        width:100%;
        margin-right: 0rem;
        .img-slick {
            width:100%;
            margin: 0 auto;
            @include sp {
                width: 100%;
                height: auto;
                max-width: 33.5rem;
                // aspect-ratio: 335/200;
                margin-right: 0rem;
            }
            & img {
                display:block;
                width: 27rem;
                height: auto;
                margin-left:0;
                padding-left:0;
                @include sp {
                    width: 100%;
                    height: 20rem;
                    max-width: 33.5rem;
                    // aspect-ratio: 335/200;
                    margin-right: 0rem;
                }
            }
        }
        .img-slick picture {
            display: block;
        }
    }
    
    .slick-slider {
        @include sp {
            overflow-x: hidden;
        }
    }
    
      
    //スライダー矢印
    .slick-arrow:before {
        content:""!important;
        width: 150%!important;
        height: 150%!important;
        position: absolute;
        top: -3rem;
        left: 0.6rem;
        z-index:8888;
        @include sp {
            top: -4rem;
            left: 5.5rem;
        }
    }
    .slick-next:before{
        content: ""!important;
        background: url(../img/arrow-r.png)!important;
        background-size: contain!important;
        position: absolute;
        top: -5.8rem;
        left: -1rem; //←
        @include sp {
            top: -3.8rem;
            left: -4.8rem;
        }
    }
    .slick-prev:before {
        content: ""!important;
        background: url(../img/arrow-l.png)!important;
        background-size: contain!important;
        position: absolute;
        top: -4.5rem;
        left: -1.6rem; 
        @include sp {
            top: -3.8rem;
            left: 4.8rem;
            
        }
    }
    .slick-arrow{
        z-index:10!important;
        width:2rem!important;
        height:2.727rem!important;
    }
    
    // .slick-prev {
    //     left: -3rem!important;
    // }
    .test-container {
        overflow-x: hidden;
        width: 100%;
    }
    
}

.top-sec05 {
    width:100%;
    display: flex;
    padding-top: 5.4rem;
    padding-bottom: 1rem;
    @include sp {
        padding-top: 4rem;
        padding-bottom: 0rem;
    }
   
    &__wrap {
        width: 100%;
        display: flex;
        
    }
    &__step-circle{
        width: 3.59%;
        margin-right: 0rem;
        padding-right: 2rem;
        padding-top: 12px;
        @include sp {
            width: 4.8rem;
            padding-right: 1rem;
            padding-left: 0rem;
        }
        span {
            width:2rem;
            height:2rem;
            display: block;
            background:  $color-red;
            border-radius: 50%;
            // margin: 7.39px 49.9px 5.61px 51.02px;
            @include sp {
                margin:0 1rem;
                // margin-left: 1rem;
            }
        }
        
    }
    &__text {
        width: 96.4%;
        display: flex;
        flex:1;
        align-items: flex-start;
        @include sp {
            display: block;
        }
    }
    &__text-title {
        width: 154px;
        font-size: 2.2rem;
        font-weight: 700; 
        line-height: calc(33 / 22);
        color: $color-red;
        text-align: left;
        padding-top: 12px;
        margin-left: 4.3rem;
        @include sp {
            line-height: 1;
            margin-left: 0rem;
            // margin-left: 2.19rem;
        }
    }
    &__text-text {
        width: 100%;
        display: flex;
        font-size: 1.8rem; 
        line-height: calc(30 / 18);
        color: #000000;
        text-align: left;
        padding-top: 2px;
        margin-left: 3.8rem;
        flex:1;
        align-items: flex-start;
        @include sp {
            margin-left: 0rem;
            font-size: 1.6rem; 
            line-height: calc(30 / 16);
            padding-top: 1.3rem;
        }
    } 
    .top-sec05__items {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2.4rem;
        @include sp {
          display:flex;
          flex-direction: row; // スマホは縦並びが自然
          margin-bottom: 1.9rem;
        }
        &:nth-of-type(1) {
            margin-bottom: 5.6rem;
            @include sp {
              margin-bottom: 3rem;
            }
        }
        &:nth-of-type(2) {
           margin-bottom: 5.6rem;
           @include sp {
            margin-bottom: 3.2rem;
          }
        }
        &:nth-of-type(3) {
            margin-bottom: 5.6rem;
            @include sp {
            margin-bottom: 2.4rem;
            margin-top: 1rem;
            margin-bottom: 3.2rem;
            }
        } 
        span {
                width: 2rem;
                height: 2rem;
                background: $color-red;
                border-radius: 50%;
                position: relative;
                top: 0;
                left: 0;
                margin-top: 0rem;
                // margin-right:5.3rem;
                  @include sp {
                    margin-top: 0rem;
                    margin-left: 1rem; 
                  }
                &::before {
                    content: '';
                    width: 0.3rem;
                    height: 18.8rem;
                    background: $color-red;
                    display: block;
                    position: absolute;
                    top: 50%;  
                    left: 50%;
                    width: 0.3rem;
                    height: 12rem; 
                    background-color: $color-red; 
                    transform: translateX(-50%); 
                    @include sp {
                        height: 19rem;
                    
                    }
                   
                }
                
        }
        &:last-of-type {
            span::before {
              height: 0rem; // ← 短くしたい長さを指定
              @include sp {
                height: 90%; // SP時の長さ
              }
            }
            
        }
        .top-sec05__items:last-of-type {
            span {
              position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  top: calc(6rem - 1rem); // beforeの線の長さ - 画像の調整値（必要に応じて調整）
                  left: 50%;
                  transform: translateX(-50%);
                  width: 4rem; // PNGのサイズ
                  height: 4rem;
                  background-image: url('./img/Vector-2.png');
                  background-size: cover;
                  background-repeat: no-repeat;
                  z-index: 2;
                }
            }
        }
        
        .arrow-2 {
            position: relative;
            display: inline-block;
            width: 3px;
            height: 46px;
            margin: 0 8.4px;
            border-radius: 9999px;
            background-color: $color-red;
            @include sp {
                margin: 0 8.4px 0 8.4px;
                height: 12.3rem;
            }
        }
          
        .arrow-2::before,
        .arrow-2::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: calc(50% - 1.5px);
            width: 3px;
            height: 22.2px;
            border-radius: 9999px;
            background-color: $color-red;
            transform-origin: 50% calc(100% - 1.5px);
        }
          
        .arrow-2::before {
            transform: rotate(48.15deg);
        }
          
        .arrow-2::after {
            transform: rotate(-48.15deg);
        }
    }           
}


.top-sec06 {
    width: 100%;
    height: auto;
    background: $color-main;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5.4rem;
    padding-bottom: 5.3rem;
    @include sp {
        padding-top: 3.4rem;
        padding-bottom: 5rem;
    }
    .accordion {
        width:88rem;
        border-bottom: 0.05rem solid #000000;
        @include sp {
            width: 100%;
            // padding: 0 2rem;
        }
        
    }
    .question {
        display: flex;
        background: #fff;
        padding: 1.5rem 1.5rem 1.35rem 0rem;
        cursor: pointer;
        // font-size: 1.7rem;
        // line-height: calc(30 / 17);
        color: #000000;
        text-align: left;
        position: relative;
        border-top: 0.05rem solid #000000;
        flex-wrap:wrap;

        @include sp {
            width:100%;
            font-size: 1.6rem;
            line-height: calc(30 / 16);
            padding-right: 5rem; // crossBar分のスペース
            padding: 1.5rem 4rem 1.2rem 0rem;
        }
        &:last-child {
            border-top: 0.5px solid #000000; 
        }
        
        span {
            width: 3.5rem;
            height: 3.5rem;
            font-size: 2rem;
            font-weight: 700;
            color: $color-main;
            background: #000;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin: 0 0.6rem 0 1.95rem;
            @include sp {
                width: 3.5rem;
                margin-top: 0rem;
                margin-right: 0;
                margin-right: 0.6rem;
                margin: 0 0.6rem 0 0;
            }
        }
        h3 {
            flex:1;
            font-size: 1.7rem;
            color: #000;
            padding-left: 0.4rem;
            padding-right: 4rem; // crossBarとの余白
            flex: 1;
            min-width: 0; // 長文でも折り返しOKにする
            word-break: break-word; // 長すぎる単語も折り返す
            
            @include sp {
                font-size: 1.6rem;
                line-height: calc(30 / 16);
                padding-right: 0rem;
                padding-left: 1.3rem;
                padding-top: 0rem;
                padding-bottom: 0rem;
                flex:1;
            }
        }
        .accordion:last-child .question {
            @include sp {
              padding-bottom: 1rem;
            }
        }
        .crossBar {
            width: 1.4rem;
            height: 1.4rem;
            position: absolute;
            top: 50%;
            right: 1.7rem;
            transform: translateY(-50%);
            @include sp {
                right: 1.5rem;
                
            }
        }
        .crossBar::before, .crossBar::after {
            content: "";
            display: block;
            position: absolute;
            width: 1.6rem;
            height: 0.1rem;
            background-color: #4D4D4D;
            transition: transform 0.3s ease-in-out;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(0deg);
        }
        .crossBar::before {
            transform: rotate(45deg);
            top: 0.4rem;
            left: 0;
        }
        .crossBar::after {
            transform: rotate(-45deg);
            top: 0.4rem;
            right: 0;
        }
        &.is-open .crossBar::before {
            transform: rotate(-45deg);
            top: 0.6rem;
        }
        .is-open .crossBar::after {
            transform: rotate(-45deg); /* 右側の線をハの字の角度に調整 */
        }
        &:last-child {
            .question {
                @include sp {
                  padding-bottom: 1rem;
                }
            }
        }
    }

    .question,.answer {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: calc(30 / 17);
        .crossBar {
            width: 1.4rem;
            height: 1.4rem;
            position: absolute;
            top: 48%;
            right: 3.1rem;
            transform: translateY(-50%);
            @include sp {
                right: 1.7rem;
            }
        }
        .crossBar::before, .crossBar::after {
            content: "";
            display: block;
            position: absolute;
            width: 1rem;
            height: 0.2rem;
            background-color: #4D4D4D;
            transition: transform 0.3s ease-in-out;
            // top: 50%;
            // left: 50%;
            top: 0.4rem;
            // transform: translate(-50%,-50%) rotate(0deg);
        }
        .crossBar::before {
            transform: rotate(45deg);
            // top: 0.4rem;
            left: 0;
        }
        .crossBar::after {
            transform: rotate(-45deg);
            // top: 0.4rem;
            right: 0;
        }
        &.is-open .crossBar::before {
            transform: rotate(-45deg);
            top: -0.4rem;
            
        }
        &.is-open .crossBar::after {
            transform: rotate(45deg); /* 右側の線をハの字の角度に調整 */
            top: -0.4rem;
            // background: rgba(203, 0, 0, 0.1);
        }
    }
    .answer {
        display: none;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 1.5rem;
        background: #fff;
        text-align: left;
        color: $color-red;
        border-bottom: 0.05rem solid #000000;
       
        span {
            width: 3.5rem;
            height: 3.5rem;
            font-size: 2rem;
            font-weight: 700;
            color: $color-main;
            background: $color-red;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin: 0.5rem 1rem 0.5rem 0;
            flex-shrink: 0;
            @include sp {
                width:3.5rem;
                height:3.5rem;
            }
        }
        h3 {
            font-size: 1.7rem;
            color: $color-red;
            word-break: break-word;
            @include sp {
                // margin-left: 1.1rem;
                // padding-right: 2rem;
                // padding-left: 2.1rem;
                // padding-bottom: 1rem;
                flex:1;
            }
        }
    }
    .answer.is-open {
        display: flex;
        // margin-top: 0.5rem;
        padding: 1rem 2rem 1rem;
        background: rgba(203, 0, 0, 0.1);
        @include sp {
            padding: 0.1rem 0 0.6rem;
            // padding: 1.4rem 2rem;
            h3 {
                font-size: 1.6rem;
                line-height: calc(30 / 16);
                font-weight: 700;
                margin: 0.2rem 0 0rem;
                padding-right: 4rem;
                padding-left: 1.1rem;
                padding-top: 1.2rem;
                padding-bottom: 0rem;
            }
        }   
    }
    .pageSubTitle {
        font-size: 40px;
        line-height: 1.75;
        font-weight: 900;
        font-style: normal;
        position: relative;
        &::after {
           content: "";
           display: block;
           width: 7.46rem;
           height: 0.2rem;
           margin: 0 auto;
           margin-top: 3.52rem;
        }
    }
    .pageSubTitle2 {
        font-size: 2.3rem;
        line-height: 1.7;
        font-weight: 400;
        font-style: normal;
        color: #4D4D4D;
    } 
    /* FAQパーツ */
      
    .contentText {
        font-size: 2.3rem;
        line-height: 1.7;
        font-weight: 400;
        font-style: normal;
        color: #4D4D4D;
    }  
    .qa {
        padding-top: 18rem;
        padding-bottom: 27.8rem;
        &__box {
            max-width: 110rem;
            width: 100%;
            margin: 0 auto;
            position: relative;
            z-index: 10;
            & > dl > dt {
                background-color: #fff;
                display: flex;
                align-items: center;
                padding: 1rem 3rem;
                position: relative;
                & .crossBar {
                    width: 2.1rem;
                    height: 2.1rem;
                    position: absolute;
                    top: 50%;
                    right: 2.4rem;
                    transform: translateY(-50%);
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 0.16rem;
                        height: 100%;
                        background-color: #4D4D4D;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform-origin: center center; /* 中心を基準にtransform */
                        transform: translateX(-50%) rotate(0deg);
                        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
                    }
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 100%;
                        height: 0.16rem;
                        background-color: #4D4D4D;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
                & > span {
                    font-size: 2.8rem;
                    line-height: 1.75;
                    font-weight: 500;
                    font-style: normal;
                    color: #5FB1DE;
                    margin-right: 2.3rem;
                }
            }
            & > dl > dd {
                margin: 0;
                background-color: #fff;
                display: flex;
                align-items: center;
                margin-bottom: 1.6rem;
                padding: 0 3rem; /* paddingの上下を0にする */
                max-height: 0; /* max-heightを0にする、レスポンシブ対応 */
                overflow: hidden;  /* overflow: hidden;を付けるのがポイント */
                transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
                & > span {
                    font-size: 2.8rem;
                    line-height: 1.7;
                    font-weight: 500;
                    font-style: normal;
                    color: #5FB1DE;
                    margin-right: 2.3rem;
                }
            }
        }
    }
    /* アニメーション後のスタイル */
    .qa__box > dl > dd.is-open { /* heightとpaddingをアニメーション */
        max-height: 10rem;
        padding: 1rem 3rem;
    }
    /* ＋ボタンのアニメーション */
    .qa__box > dl > dt.is-open .crossBar::before {
        transform: translateX(-50%) rotate(90deg);  /* 90度回転 */
    }      
}
.top-sec06 .accordion:last-child .question {
    @include sp {
      padding: 0.79rem 0;
    }
}

.top-sec07 {
    width: 100%;
    height: auto;
    background: $color-main;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 13.4rem;
    @include sp {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    &__blog__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 5rem;
        @include sp {
            flex-direction: column;
            column-gap: 0;
            row-gap: 0rem; //適宜
        }
        & a {
            display: block;
            // width: 26rem;
            width: 100%;
            aspect-ratio: 26/20;
        }
        .blog-item {
            width: 26rem;
            justify-content: space-between;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
            @include sp {
                width:100%;
            }
            &__img {
                width: 100%;
                height: auto;
                object-fit: cover;
                position: relative;
                top: 0;
                left:0;
                aspect-ratio: 26 / 20;
                @include sp {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 33.5 / 20;
                    margin-bottom: 3rem;
                }
                
                img {
                    width:26rem;
                    height: 20rem;
                    position:absolute;
                    top:0;
                    left:0;
                    object-fit:cover;
                    margin: 0 auto;
                    transition: opacity 0.3s ease;
                    @include sp {
                        // width: 33.5rem;
                        width: 100%;
                        // height: 20rem;
                        height: auto;
                        display:block;
                        position: static;
                        // margin-bottom: 3rem;
                    }
                    &:hover {
                        opacity:0.8;
                    }
                }
            }
            &__logo {
                width: 8rem;
                height: 3rem;
                display: flex;
                position:absolute;
                top: 0;
                left: 0;
                font-size: 1.5rem;
                line-height: calc(25 / 15);
                font-weight: 700;
                color: $color-main;
                background: $color-red;
                align-items: center;
                justify-content: center;
                z-index: 10;
                @include sp {
                    width: 9rem;
                }
            }
            &__title {
                p {
                    width: 100%;
                    font-size: 2rem;
                    line-height: calc(25 / 20);
                    font-weight: 700;
                    color: #000;
                    text-align: left;
                    margin-top: 1.8rem;
                    @include sp {
                        line-height: calc(30 / 20);
                        margin-top: 0rem;
                    }
                }
            }
            &__date {
                @include sp {
                    margin-bottom: 4.1rem;
                }
                p {
                    width: 100%;
                    display: block;
                    font-size: 1.7rem;
                    color: #000;
                    text-align: right;
                    margin-top: 1.3rem;
                    @include sp {
                        line-height: calc(30 / 20);
                        margin-top: 0rem;
                        padding-top: 0.9rem;
                    }
                }
                
                .top-sec07__blog__items .blog-item__date p {
                    line-height: 1.5;
                    margin-top: 1rem;
                    word-break: break-word;
                    white-space: normal;
                    @include sp {
                        line-height: calc(30 / 20);
                        margin-top: 0rem;
                    }
                }  
                  
            }
            &:last-child .blog-item__date {
                @include sp {
                    margin-bottom:0;
                }
            }
        }
    }
    &__button {
        display:flex;
        background: $color-main;
        justify-content: flex-end;
        margin: 3.9rem 0 0rem;
        @include sp {
            margin: 3.9rem 0;
            margin-bottom: 13.5rem;
            justify-content: center;
        }
        a {
            font-size: 1.8rem;
            line-height: calc(30 / 18);
            color: #000;
            position:relative;
            // border-bottom: 1px solid #000;
            &::after {
                content:'';
                position:absolute;
                bottom: 0.4rem;
                left: 0;
                width:100%;
                height:0.1rem;
                background: #000;
            }
            &:hover {
                opacity:0.5;
            }
        }
    }  
}
